.containall{
            height: 250vh;
}
.header{
    border: solid 5px;
    border-color: rgb(77, 33, 33);
    height:  50px;
}
.footer{
    border: solid 3px;
    border-color: rgb(77, 33, 33);
    height:  100px;
   margin-top: 60px;

}
.menu1{
    text-align: center;
    margin-top: 0px;
}
.menu{
   text-align: center;
   margin-top: -15px;
}
.contain{
    display: flex;
}
.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.formulaire{
    border: solid 1px;
    margin-top: 50px;
    width: 600px;
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.formulairee{
    border: solid 1px;
    margin-top: 50px;
    width: 600px;
    height: 900px;
}
.title{
    text-align: center;
    margin-top: 10px;
 
}
.filiere{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.filieree{
    margin-right: 50px;
}
button{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 123);
    border: solid 0;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 150px;
}
.boutons{
    display: flex;
}
#reset{
    color: rgb(255, 255, 255);
    background-color: rgb(174, 7, 7);
    border: solid 0;
  
}
.liste{
    border: solid 1px;
    margin-top: 50px;
    width: 600px;
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    
}
.listee{
    border: solid 1px;
    margin-top: 50px;
    width: 800px;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    
}
table{  
    border-collapse: collapse;
}
.tableau1{
    text-align: center;
    margin-left: 100px;
 
}  
.tableau2{
    text-align: center;  
}     
td{
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    height: 50px;
  }
.checkbox{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;      
}